table, th, td {
    border: 1px solid darkgrey;
}
table {
    border-collapse: collapse;
}
th {
    color:#fff;
    background-color:#43424b;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    height: 25px;
}
td a {
    text-decoration: none;
}
td {
    border: 1px solid #dfdfdf;
    text-align: center;
}